body, html{
    margin: 0px;
    padding: 0px;
    background-color: aqua;
    height: 100%;
}

#numero{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}

#box-tasti{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    cursor: pointer;
    padding: 30px;
    margin: 5px;
    font-size: xx-large;
    border-radius: 7px;
}

/* schermi piccoli */
@media screen and (max-width: 620px){
    button{
        padding: 15px;
        font-size: x-large;
    }
}